body {
  background-color: #5c636e;
  font-family: 'Oswald', sans-serif;
}

p, em {
  font-family: 'Newsreader', serif;
}

.concv {
  padding: 1% 20%;
}

/* PAGINA SONIDOS */
.tablaSonidos {
  text-align: center;
}
.sonido1{
  background-image: url("fotos/gato.jpg");
}
.sonido2{
  background-image: url("fotos/homero.jpeg");
}
.sonido3{
  background-image: url("fotos/celu.jpeg");
}
.sonido4{
  background-image: url("fotos/pacman.jpg");
}
.sonido5{
  background-image: url("fotos/monedamario.png");
}
.sonido6{
  background-image: url("fotos/killbill.jpg");
}
.sonido7{
  background-image: url("fotos/mario.jpg");
}
.sonido8{
  background-image: url("fotos/avengers.jpg");
}

.botonSonido {
  width: 150px;
  border-radius: 14%;
  height: 150px;
  background-size: cover;
  background-position: center;
}

.cubreBoton {
  margin: 3% 0 1%;
}

/* JUEGO DE DADOS */
.izqCol {
  position: relative;
  left: 8%;
}

.players {
  margin-bottom: 5%;
}

.derCol {
  position: relative;
  right: 8%;
}

.quienGano {
  margin-top: 2%;
  margin-bottom: 0;
}

.jugadores {
  margin: 3% auto 0;
}

.juegoDados {
  text-align: center;
}

.dados {
  width: 40%;
  background-color: white;
  border-radius: 14%;
}

.botonJugar {
  margin-top: 5%;
  width: 15%;
}

.jugar {
  text-decoration: none;
  color: white;
}

/* BARRA DE NAVEGACION */
.navbar {
  background-color: #1e2022;
}

.marca {
  width: 37px;
  position: relative;
  bottom: 4px;
  margin-right: 5px;
}

.carde {
  position: relative;
  top: 2px;
  margin-right: 0;
  width: 50%;
}

.navinicio {
  padding-left: 1%;
  padding-right: 1%;
}

.navbar-brand {
  padding-left: 10px;
}

.nav-item {
  padding: 0 18px;
}

/* IZQUIERDA CV */
.izq {
  color: white;
  background-image: url("fotos/phil-desforges-FHTYd6wvPmM-unsplash.jpg");
  background-size: cover;
  padding-top: 7%;
  padding-bottom: 3%;
}

.fotoperfil {
  width: 60%;
}

.Minombre {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 15px;
  font-weight: lighter;
}

.estudiante {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: lighter;
  margin-top: 5px;
  margin-bottom: 60px;
}

.habilidades {
  font-size: 1.1rem;
}

/* DERECHA CV */
.derecha {
  background-color: white;
  padding-top: 10%;
  padding-bottom: 3%;
}

.sobremi {
  font-family: 'Oswald', sans-serif;
}

.subtitulos {
  font-size: 1rem;
  margin-bottom: 5px;
}

.fechas {
  font-size: 1rem;
}

.otros {
  margin-top: 1.5%;
}

/* BOTON VOLVER A INICIO */
.volver {
  position: relative;
  left: 20%;
}

.botonvolver {
  padding-right: 30px;
}

.fas {
  margin-top: 10%;
  float: left;
}

/* MODIFICACIONES PARA CELU */
@media (max-width: 900px) {
  .botonSonido {
    width: 125px;
    height: 125px;
  }
  .row {
    margin: 0;
  }

  .izqCol {
    position: relative;
    left: 3%;
  }

  .derCol {
    position: relative;
    right: 3%;
  }

  .quienGano {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .botonJugar {
    margin-top: 13%;
    width: 50%;
  }

  .dados {
    width: 65%;
  }

  .container-fluid {
    padding: 0;
  }

  .izq {
    padding-left: 5%;
  }
}
