body {
  background-color: grey;
  font-family: 'Oswald', sans-serif;
}

img {
  width: 60%;
}
.fas{
  margin-top: 10%;
  float: left;
}
.volver {
  text-decoration: none;
  color: white;
  position: relative;
  left: 20%;
}
.botonvolver{
  padding-right: 30px;
}

.izq {
  color: white;
  background-image: url("fotos/phil-desforges-FHTYd6wvPmM-unsplash.jpg");
  background-size: cover;
  padding-top: 7%;
  padding-bottom: 3%;
}
.container-fluid{
  padding: 1% 20%;
}
.derecha {
  background-color: white;
  padding-top: 10%;
  padding-bottom: 3%;
}

.estudiante {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: lighter;
  margin-top: 5px;
  margin-bottom: 60px;
}

.sobremi {
  font-family: 'Oswald', sans-serif;
}

p {
  font-family: 'Newsreader', serif;
  font-size: 1.1rem;
}

em {
  font-family: 'Newsreader', serif;
  font-size: 1rem;
}

h5 {
  font-size: 1rem;
  margin-bottom: 5px;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 15px;
  font-weight: lighter;
}

.otros {
  margin-top: 1.5%;
}

@media (max-width: 900px) {
  .container-fluid{
    padding: 0;
  }
  .izq{
    padding-left:5%;
  }
}
/* Tambien estan las pseudo clases que serian por ejemplo img:hover{propiedades}
Se usan para que las propiedades cambien dependiendo del estado del selector (hover seria cuando le pasas el mouse por encima)*/
