body {
  background-color: grey;
  font-family: 'Oswald', sans-serif;
}

p, em {
  font-family: 'Newsreader', serif;
}

.concv {
  padding: 1% 20%;
}

/* JUEGO DE DADOS */

.izqCol{
  position: relative;
  left: 7%;
}
.derCol{
  position: relative;
  right: 7%;
}
.quienGano {
  margin-top: 2%;
}

.jugadores {
  margin: 5% auto 0;
}

.juegoDados {
  text-align: center;
}

.dados {
  width: 40%;
}

.botonJugar {
  margin-top: 5%;
}

.jugar {
  text-decoration: none;
  color: white;
}

/* BARRA DE NAVEGACION */
.navinicio {
  padding-left: 1%;
  padding-right: 1%;
}

.navbar-brand {
  padding-left: 10px;
}

.nav-item {
  padding: 0 18px;
}

/* IZQUIERDA CV */
.izq {
  color: white;
  background-image: url("fotos/phil-desforges-FHTYd6wvPmM-unsplash.jpg");
  background-size: cover;
  padding-top: 7%;
  padding-bottom: 3%;
}

.fotoperfil {
  width: 60%;
}

.Minombre {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 15px;
  font-weight: lighter;
}

.estudiante {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: lighter;
  margin-top: 5px;
  margin-bottom: 60px;
}

.habilidades {
  font-size: 1.1rem;
}

/* DERECHA CV */
.derecha {
  background-color: white;
  padding-top: 10%;
  padding-bottom: 3%;
}

.sobremi {
  font-family: 'Oswald', sans-serif;
}

.subtitulos {
  font-size: 1rem;
  margin-bottom: 5px;
}

.fechas {
  font-size: 1rem;
}

.otros {
  margin-top: 1.5%;
}

/* BOTON VOLVER A INICIO */
.volver {
  position: relative;
  left: 20%;
}

.botonvolver {
  padding-right: 30px;
}

.fas {
  margin-top: 10%;
  float: left;
}

/* MODIFICACIONES PARA CELU */
@media (max-width: 900px) {

  .izqCol{
    position: relative;
    left: 3%;
  }
  .derCol{
    position: relative;
    right: 3%;
  }
  .quienGano {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .botonJugar {
    margin-top: 13%;
    width: 50%;
  }

  .dados {
    width: 65%;
  }

  .container-fluid {
    padding: 0;
  }

  .izq {
    padding-left: 5%;
  }
}
